body {
    background-color: #e2e2e2;
}

nav a{
    color: white;
}

header {
    background-color: #e2e2e2;
    color: #646464;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #c5c5c5;
    text-align: center;
    padding: 10px;
    word-spacing: 10px;
}

main {
    justify-self: center;
    width: 30%;
    background-color: white;
    padding: 10px;
}

footer {
    text-align: center;
}